/* Landing.module.css */

.HeaderContainer {
    display: flex;
    justify-content: space-between; /* Distributes space between logo/text and hamburger menu */
    align-items: center;
    padding: 0 20px; /* Add padding as needed */
  }
  
  .Header {
    display: flex;
    align-items: center;
  }
  
  .Logo {
    margin-right: 10px; /* Space between logo and text */
  }
  
  .HeaderTitle {
    font-size: 24px; /* Adjust as needed */
  }
  
  .HeaderWrapper {
    display: none; /* Hide by default */
  
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  
  .MenuWrapper {
    display: flex;
    align-items: center;
  }
  
  .MenuIcon {
    cursor: pointer; /* Change cursor to pointer for the menu icon */
  }
  
  /* Add styles for menu content and items */