/* Import Fustat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fustat&display=swap');

/* Ensure Tailwind CSS is imported after custom font */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles using the custom font */
body {
  margin: 0;
  font-family: 'Fustat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fustat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Additional styles for your components */
.nutritional-info {
  font-family: 'Fustat', sans-serif;
}